
#imgimg
{
    width: 232px;
    height: 196px;
    margin-left: 64px;
    margin-top: -3px;
}

#customer_photo
{
       width: 84px;
    height: 92px;
    margin-left: 535px;
    margin-top: 23px;
}
h6{
margin-left: 499px;
 margin-top: 20px;

}

.Account
{
    margin-left: 72px
}

button
{
    margin-left: 59px;
}

#Viwe
{
    margin-left: 49px;
}


#View_id
{
    margin-top: 40px;
    margin-left: 267px;
}

#Previous_id
{
margin-top: 40px;
    margin-left: 291px;
}

#A_id
{

    margin-left: 188px;
    font-size: x-large;
}
